SECRET_KEY=replace-with-your-django-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

STRIPE_PUBLISHABLE_KEY=replace-with-your-stripe-publishable-key
STRIPE_SECRET_KEY=replace-with-your-stripe-secret-key

RAZORPAY_API_KEY=replace-with-your-razorpay-api-key
RAZORPAY_API_SECRET_KEY=replace-with-your-razorpay-api-secret-key
